<div id="c1"></div>
<nz-card nzBordered="false">
  <button
    *ngIf="isConnected === false"
    nz-button
    nzType="primary"
    [nzLoading]="loading.start"
    (click)="clickStart()"
  >
    Start
  </button>
  <button
    *ngIf="isConnected === true"
    nz-button
    nzType="primary"
    nzDanger="true"
    [nzLoading]="loading.stop"
    (click)="clickStop()"
  >
    Stop
  </button>
  <nz-table
    *ngIf="true"
    #basicTable
    [nzData]="listOfData"
    [nzTotal]="listOfData.length"
  >
    <thead>
      <tr>
        <th>id</th>
        <th>Step</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.step }}</td>
        <td>{{ data.result }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
